.toggle-switch {
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: grey;
    position: relative;
    cursor: pointer;
    padding: 5px;
    margin-top: 5rem;
}

.switch {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    top: 8px;
    left: 8px;
    position: absolute;
    border: 0.2rem solid #ccc;
    font-weight: bold;
    transition: transform 0.3s linear, background-color 0.3s linear;
}

.on {
    background-color: #4caf50;
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -o-transform: translateX(50px);
}

.off {
    background-color: #f44336;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
}